.wrapper {
  display: flex;
  width:50vh;
  height:50vh; 
  
 
}
.wrapper > div {
  display:flex;
  overflow:hidden;
  flex-direction:column;
}

.square {
  background-color: rgb(141, 185, 243);
  color: rgb(51, 53, 163);
  flex:1 1 auto;
  border:1px solid rgb(51, 53, 163);
}


button{
  font-size: 20px;
  margin:30px;
  padding:10px;
  border-radius: 5%;
}

button :hover{
    background-color: rgb(51, 53, 163);
    color:white;
}
